html(lang="ru")
	include core/head
	body
		include core/header
		include core/sticky-header
		include core/top-bar
		main
			.container
				include includes/top-banner
				.aside-cont.left
					include includes/aside
					+aside(['filters', 'topItems', 'news', 'articles'])
					.main-content
						include includes/places
						include includes/reviews
						h1 Кальянные Санкт-Петербурга (Спб)
						p Санкт - Петербург предлагает ценителям дымных ароматов множество различных кальянных, некоторые из которых уникальны в своём роде. Гости могут найти кафе, бары, рестораны и lounge- пространства с кальяном в любом районе Петербурга.
						p Сегодня одним из наиболее популярных форматов являются «антикафе» с кальяном или, как их ещё называют, «тайм-кафе», где гостям бесплатно подают чай, сладости и кальян, а они, в свою очередь, платят только за время, проведённое в заведении. Актуальный список всех антикафе Питера, где предлагают кальян, Вы всегда можете найти на нашем сайте.
						p Портал Кальянные.рф собрал в себе информацию обо всех кальянных СПб. Используя навигацию, Вы легко сможете подобрать заведение по своему вкусу, прочитать о нём отзывы, чтобы составить первое впечатление, и забронировать столик через нашу форму бронирования.
						p Кальянные.рф – Ваш гид в мире кальянов!
						.hidden-desktop
							include includes/aside/top-items
							include includes/aside/news
							include includes/aside/articles
		include includes/places-map
		include core/footer
		include core/modals
