html(lang="ru")
	include core/head
	body
		include core/header
		include core/top-bar
		main
			.container
				include includes/top-banner
				.aside-left
					include includes/aside
		include core/footer
		include core/bottom
