include core/mixins
html(lang="ru")
    include core/head
    body
        include core/header-top
        include core/header
        include core/sticky-header
        include core/header-bottom
        +breadcrumbs(['Главная', 'Новости'])
        main
            .container
                .aside-cont
                    +aside(['topItems', 'articles'])
                    .main-content
                        +heading('Новости')
                        include includes/news-list
                        .hidden-desktop
                            include includes/aside/top-items
                            include includes/aside/articles
        include includes/places-map
        include core/footer
        include core/modals
