.box.aside-items
	.heading
		h3 Публикации
			a(href="#") Все 124
	.body
		.item
			a(href="#")
				img(src="uploads/article-1.jpg", alt="")
			h3
				a(href="#") Виды кальянов.
		.item
			a(href="#")
				img(src="uploads/article-2.jpg", alt="")
			h3
				a(href="#") Как выбрать кальян для дома?
		.item
			a(href="#")
				img(src="uploads/article-3.jpg", alt="")
			h3
				a(href="#") Самые популярные миксы табака для кальяна.
