.box.aside-items
    .heading
        h3 Новые заведения
    .body
        .item
            a(href="#")
                img(src="uploads/article-1.jpg", alt="")
            h3
                a(href="#") Hookah Fresh
                small Сиреневый бульвар, 3Б
        .item
            a(href="#")
                img(src="uploads/article-2.jpg", alt="")
            h3
                a(href="#") Chilling Time
                small ул. Большая полянка, 51А/9
        .item
            a(href="#")
                img(src="uploads/article-3.jpg", alt="")
            h3
                a(href="#") Soloway Караоке&Dance club
                small ул. Вавилова, 69/75
