.box.aside-news
	.heading
		h3 Новости
			a(href="#") Все 847
	.body
		.item
			a(href="#")
				img(src="uploads/news-1.jpg", alt="")
			h3
				a(href="#") Новая линейка от Darkside
			p Мы расширили линейку, и теперь у нас есть не только легкий SOFT и легендарный MEDIUM, но и крепкий...
			small.date 16 февр. 2019 г.
		.item
			a(href="#")
				img(src="uploads/news-2.jpg", alt="")
			h3
				a(href="#") INFERNO Tobacco на HCS-2019 
			p Мы расширили линейку, и теперь у нас есть не только легкий SOFT и легендарный MEDIUM, но и крепкий...
			small.date 16 февр. 2019 г.
		.item
			a(href="#")
				img(src="uploads/news-3.jpg", alt="")
			h3
				a(href="#") DUFT Hookah Tobacco
			p Мы расширили линейку, и теперь у нас есть не только легкий SOFT и легендарный MEDIUM, но и крепкий...
			small.date 16 февр. 2019 г.
		button.btn.btn-primary.btn-upper.btn-block Предложить новость
