footer
    .container
        div.row
            div Все материалы, размещаемые на сайте, предназначены для лиц старше 18 лет. Администрация не несет ответственности за содержание информационных карточек заведений. Мы не рекламируем и не продаем табачную продукцию.
            div.links
                a.app-store(href="#")
                a.google-play(href="#")
                a.vk-link(href="#")
            div.contacts
                span.phone +7(999)534 78 73
                a.mail(href="mailto:manager@kaliannye.ru") manager@kaliannye.ru
        p.copy © 2019 Кальянные.РФ
