form.search-form
    select.select(name="city")
        option(value="Санкт-Петербург") Санкт-Петербург
    input(type="text", placeholder="Введите название кальянной")
    button(type="submit")
        <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 21l-6.115-6.114m0 0c3.172-3.171 3.172-8.332 0-11.504A8.082 8.082 0 0 0 9.134 1a8.081 8.081 0 0 0-5.752 2.383A8.075 8.075 0 0 0 1 9.134c0 2.173.846 4.215 2.382 5.752a8.081 8.081 0 0 0 5.752 2.382 8.08 8.08 0 0 0 5.751-2.382z" stroke="#5B114E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
