.box.padding.purple.booking-form
    h3
        | Бронировать столик
        small Кальянная Лаборатория WHITE SMOKE
    form.inline(action="#")
        .form-row
            label Имя
            input(type="text", placeholder="Ваше имя")
        .form-row
            label Телефон
            input(type="text", placeholder="Ваше имя")
        .form-row
            label Дата и время
            input(type="text", placeholder="Ваше имя")
        .form-row
            label Человек
            select.select
                option 1
                option 2
                option 3
        .form-row
            label &nbsp;
            button.btn.btn-warning.btn-upper Бронировать
