.box.padding.place-contacts
    h3 Контактная информация
    .contact-item.address
        strong Москва
        span Кораблестроителей 30
    .contact-item.metro
        strong Метро
        span Деловой центр
    .contact-item.phone
        strong Телефон
        span +7 (916) 860-12-87, +7 (499) 235-77-11
    .contact-item.open-time
        strong Время работы
        span Пн.-Чт. 11:30-00:00 (Кальяны с 17.00) Пт.-Сб. 11:30-03.00 (Кальяны с 17.00) Вс. выходной
    .contact-item.website
        strong Вебсайт
        span
            a(href="www.burjualounge.ru", target="_blank") www.burjualounge.ru
            br
            a(href="vk.com/nebo_lounge", target="_blank") vk.com/nebo_lounge
            br
            a(href="instagram.com/nebo_lounge", target="_blank") instagram.com/nebo_lounge
