.box.padding.place-description
    h3 Описание
    p Санкт - Петербург предлагает ценителям дымных ароматов множество различных кальянных, некоторые из которых уникальны в своём роде. Гости могут найти кафе, бары, рестораны и lounge- пространства с кальяном в любом районе Петербурга.
    p Сегодня одним из наиболее популярных форматов являются «антикафе» с кальяном или, как их ещё называют, «тайм-кафе», где гостям бесплатно подают чай, сладости и кальян, а они, в свою очередь, платят только за время, проведённое
    h5 Что мы можем предложить: Кальянная Лаборатория WHITE SMOKE
    ul
        li Wi-Fi
        li Кухня
        li Парковка
        li Кальян на фруктах
        li Трансляция
        li Playstation/Xbox
        li Оплата картами
        li Бар
        li Редкие виды табака
        li Vip залы
        li Настольные игры
