.place-slider
    .big-images
        img(src="uploads/card-big-1.jpg", alt="")
        img(src="uploads/card-big-2.jpg", alt="")
        img(src="uploads/card-big-1.jpg", alt="")
        img(src="uploads/card-big-2.jpg", alt="")
        img(src="uploads/card-big-1.jpg", alt="")
        img(src="uploads/card-big-2.jpg", alt="")
        img(src="uploads/card-big-1.jpg", alt="")
        img(src="uploads/card-big-1.jpg", alt="")
        img(src="uploads/card-big-1.jpg", alt="")
    .small-images
        img(src="uploads/card-small-1.jpg", alt="")
        img(src="uploads/card-small-2.jpg", alt="")
        img(src="uploads/card-small-6.jpg", alt="")
        img(src="uploads/card-small-4.jpg", alt="")
        img(src="uploads/card-small-5.jpg", alt="")
        img(src="uploads/card-small-6.jpg", alt="")
        img(src="uploads/card-small-7.jpg", alt="")
        img(src="uploads/card-small-7.jpg", alt="")
        img(src="uploads/card-small-7.jpg", alt="")
