.btn {
	text-align: center;
	cursor: pointer;
	transition: $transition;
	border-radius: 5px;
	padding: 15px 20px;
	color: #000;
	display: inline-flex;
	align-items: center;
	border: none;
	appearance: none;
	line-height: normal;

	&.btn-block {
		width: 100%;
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	&.btn-upper {
		font-family: $FuturaDemi;
		text-transform: uppercase;
		font-size: 14px;
	}

	&.btn-primary {
		background: $purple;
		color: #fff;

		&:hover{
			background: $purple-hover;
		}
	}

	&.btn-default {
		background: $gray;
		color: #000;

		&:hover {
			background: $gray-hover;
		}
	}

	&.btn-warning {
		background: $yellow;

		&:hover {
			background: $yellow-hover;
		}
	}

	&.btn-success {
		color: #fff;
		background: $green;
	}

	&.btn-white {
		background: #fff;
		color: $purple;
	}
}

