form {

	&.inline {
		display: flex;

		label {
			padding-left: 18px;
		}

		button {
			padding: 18px 20px;
		}

		.form-row {

			&:first-child {

				input, button {
					border-radius: 5px 0 0 5px;
				}
			}

			&:last-child {

				input, button {
					border-radius: 0 5px 5px 0;
				}
			}
		}

		@media (max-width: $tablet) {
			flex-wrap: wrap;

			.form-row {
				width: 100%;
				margin-bottom: 15px;

				&,
				&:first-child,
				&:last-child {

					input, button, .select.single .selectize-input {
						border-radius: 5px;
					}
				}
			}
		}
	}

	.form-row {
		margin-bottom: 15px;

		label {
			margin-bottom: 10px;
			display: block;
			font-weight: bold;
		}

		input, textarea {
			width: 100%;
			padding: 18px 20px;
			border: 1px solid $gray-border;
			border-radius: 5px;
			transition: $transition;
			font-family: $Futura;
			font-size: 16px;
			line-height: 150%;

			&:focus {
				background: $gray;
			}
		}

		textarea {
			height: 100px;
			padding: 10px 20px;
		}

		button {
			height: 54px;
		}

		.select.single .selectize-input {
			background: #fff;
			height: 54px;
		}

		.select::after {
			display: none;
		}
	}

	.checkbox-row {
		color: $gray-dark;
		margin-bottom: 15px;
		transition: 300ms;

		&:hover {
			color: #000;
		}

		&:last-child {
			margin-bottom: 0;
		}

		label {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			position: relative;
			font-weight: normal;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;

				&:checked {
					& + span,
					& + span + small {
						color: #000;
					}

					& + span::before {
						background: $yellow;
						border-color: $yellow;
					}

					& + span::after {
						background: url(../img/tick.svg);
					}
				}
			}

			span {
				flex-grow: 1;
				padding-left: 38px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					display: block;
					width: 16px;
					height: 16px;
					border: 1px solid $gray-border;
					transition: $transition;
					border-radius: 2px;
				}

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 5px;
					transform: translateY(-50%);
					display: block;
					width: 8px;
					height: 8px;
					transition: $transition;
				}
			}

			a {
				color: $blue;
			}
		}
	}

	.files-row {

		p {
			color: $gray-dark;
		}

		.files-list {
			margin-bottom: 15px;
			display: flex;
			justify-content: space-between;

			> * {
				flex-basis: calc(100% / 3 - 5px);
			}
		}

		.file-item {
			height: 91px;
			position: relative;

			.overlay {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 10;
				transition: $transition;
			}

			a {
				position: absolute;
				display: none;
				z-index: 11;

				&:hover {

					path {
						stroke: $red;
					}
				}
			}

			.remove {
				right: 5px;
				top: 5px;
			}

			&:hover {

				.overlay {
					visibility: visible;
					opacity: 1;
				}

				a {
					display: block;
				}
			}
		}

		.new-file {
			background: $gray url(../img/plus.svg) no-repeat center center;
			border: 1px solid $gray-border;
			border-radius: 5px;
			height: 91px;
			cursor: pointer;

			&:hover {
				opacity: .8;
			}
		}
	}

}
