img.responsive {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.box {
	background: $gray;
	margin-bottom: 20px;
	border-radius: 5px;

	&.purple {
		background: $purple;
		color: #fff;
	}

	&.padding {
		padding: 20px;
	}

	.heading {
		background: $gray-heading;
		padding: 20px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		h3 {
			font-size: 25px;
			color: $purple;
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: $FuturaDemi;

			a {
				font-size: initial;
				font-family: $Futura;
				color: $blue;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	.body {
		padding: 20px;
	}

	a {
		transition: $transition;

		&:hover {
			color: $blue;
		}
	}
}

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.two-cols {
	display: flex;
	justify-content: space-between;

	> * {
		flex-basis: calc(50% - 10px);
	}

	@media (max-width: $laptop) {
		flex-wrap: wrap;

		> * {
			flex-basis: 100%;
		}
	}
}

.visible-mobile {
	display: none;

	@media (max-width: $tablet) {
		display: block;
	}
}

@media (max-width: $tablet) {
	display: none;
}

.hidden-desktop {
	display: none;

	@media (max-width: $desktop) {
		display: block;
	}
}

.visible-desktop {

	@media (max-width: $desktop) {
		display: none;
	}
}
