h1,
.h1{
	display: block;
	font-size: 80px;
	line-height: 120%;
	margin-bottom: 40px;

	span {
		color: $red-color;
	}
}
h2,
.h2 {
	display: block;
	font-size: 40px;
	line-height: 130%;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}
h3,
.h3 {
	display: block;
	font-size: 45px;
	line-height: 130%;
	font-weight: bold;
	margin-bottom: 30px;
}
h4,
.h4 {
	display: block;
	font-size: 25px;
	line-height: 150%;
	font-weight: normal;
	margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
	h1,
	.h1{
		font-size: 64px;
	}
}

@media screen and (max-width: 576px) {
	h1,
	.h1{
		font-size: 48px;
	}
	h2,
	.h2{
		font-size: 28px;
	}
	h3,
	.h3{
		font-size: 36px;
	}

	a.more {
		font-size: 18px;
	}
}
