$Futura: 'Futura PT', sans-serif;
$FuturaDemi: 'Futura PT Demi', sans-serif;

$purple: #5B114E;
$purple-hover: #7A236B;
$gray: #F6F8FD;
$gray-hover: #C4C4C4;
$gray-dark: #808080;
$gray-border: #DFE1F0;
$gray-heading: #EAECF7;
$yellow: #FFCD18;
$yellow-hover: #FFD849;
$green: #54CA1D;
$red: #F45057;
$blue: #0670EB;

$transition: 400ms;

$mobile: 369px;
$mobile_landscape: 567px;
$tablet: 767px;
$laptop: 1023px;
$desktop: 1279px;
$wide: 1365px;
$super: 1439px;
$ultra: 1599px;
$full: 1919px;
