$Futura: 'Futura PT', sans-serif;
$FuturaDemi: 'Futura PT Demi', sans-serif;

$purple: #5B114E;
$purple-hover: #7A236B;
$purple-light: #DFE1F0;
$gray: #F6F8FD;
$gray-hover: #C4C4C4;
$gray-dark: #808080;
$gray-border: #DFE1F0;
$gray-heading: #EAECF7;
$yellow: #FFCD18;
$yellow-hover: #FFD849;
$green: #54CA1D;
$red: #F45057;
$blue: #0670EB;

$transition: 400ms;

$mobile: 370px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$wide: 1366px;
$super: 1440px;
$ultra: 1600px;
$full: 1920px;
