.place-heading {
	margin-bottom: 20px;

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}

	.heading {
		display: flex;
		align-items: center;
		font-size: 30px;
		line-height: 46px;

		h1 {
			margin-bottom: 0;
		}

		svg {
			fill: $yellow;
			margin-right: 10px;
			margin-left: 20px;
		}

		@media (max-width: $desktop) {
			flex-wrap: wrap;

			h1 {
				width: 100%;
			}

			svg {
				margin-left: 0;
			}
		}
	}

	.toggle-mode {
		display: flex;

		.btn {
			padding: 10px 20px;

			&:first-child {
				border-radius: 5px 0 0 5px;
			}

			&:last-child {
				border-radius: 0 5px 5px 0;
			}
		}
	}

	.bottom {
		display: flex;

		> span {
			margin-right: 40px;

			svg {
				margin-right: 10px;
			}
		}

		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}
}
