.place-slider {
	max-width: 858px;
	margin-bottom: 20px;

	.small-images {

		.slick-list {
			margin: 0 -2px;
		}

		.slick-slide {
			margin: 0 2px;
		}

		img {
			border: 3px solid #fff;
		}

		.slick-current {

			img {
				border: 3px solid $purple;
			}
		}
	}
}
