header {
	padding: 20px 0;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {

		img {
			display: block;
		}

		@media (max-width: $desktop) {
			height: 40px;
			width: 40px;
			overflow: hidden;
		}
	}

	nav {

		a {
			font-size: 14px;
			text-transform: uppercase;
			color: #000;
			font-family: $FuturaDemi;
			position: relative;
			transition: $transition;
			margin: 0 10px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active,
			&:hover {
				color: $purple;
				text-decoration: none;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: -7px;
				width: 0;
				height: 2px;
				opacity: 0;
				transition: $transition;
				background-color: $purple;
			}

			&:before {
				left: calc(50%);
			}

			&:after {
				right: calc(50%);
			}

			&.active:before,
			&.active:after,
			&:hover:before,
			&:hover:after {
				width: 50%;
				opacity: 1;
			}
		}

		@media (max-width: $tablet) {
			& {
				display: none;
			}
		}
	}

	.buttons {
		button, a {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			svg {
				margin-left: 15px;
			}

			@media (max-width: $laptop) {
				&:first-child {
					display: none;
				}
			}
		}
	}
}
