.new-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.item {
		flex-basis: calc(100% / 3 - 10px);
		margin-bottom: 30px;

		img {
			margin-bottom: 15px;
		}

		h3 {
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 10px;
		}

		small {
			display: block;
			color: #808080;
			line-height: 18px;
		}

		@media (max-width: $tablet){
			flex-basis: calc(100% / 2 - 10px);
		}

		@media (max-width: $mobile_landscape){
			flex-basis: 100%;
		}
	}
}
