.pagination {
	text-align: center;
	display: flex;
	justify-content: center;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		border: 1px solid $gray-border;
		height: 45px;
		transition: $transition;

		&.active,
		&:hover {
			background: $gray-border;
		}

		&.prev {

			svg {
				margin-right: 10px;
			}
		}

		&.next {

			svg {
				margin-left: 10px;
			}
		}

		@media (max-width: $tablet) {
			padding: 10px 20px;

			span {
				display: none;
			}

			&.prev {

				svg {
					margin-right: 0;
				}
			}

			&.next {

				svg {
					margin-left: 0;
				}
			}
		}
	}
}
