.places {
	margin-bottom: 50px;

	.top {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;

		@media (max-width: $desktop) {
			flex-wrap: wrap;
		}

		.sort {
			color: $gray-dark;

			select {
				color: $blue;
			}
		}
	}

	.list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.item {
		color: #fff;
		margin-bottom: 30px;
		width: calc(100% / 3 - 15px);

		@media (max-width: $laptop) {
			width: calc(50% - 15px);
		}

		@media (max-width: $tablet) {
			width: 100%;
		}

		.main {
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 15px;
			padding: 20px;
			height: 250px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			border-radius: 5px;

			.rating {
				font-size: 30px;
				display: flex;
				align-items: center;

				&.active svg {
					fill: $yellow;
				}

				svg {
					margin-right: 10px;
					fill: #fff;
				}
			}

			h2 {
				font-size: 25px;

				a {
					transition: $transition;
				}

				a:hover {
					color: $yellow;
				}
			}

			.btn {
				font-size: 14px;
				padding: 3px 8px;
				cursor: default;
			}

			.address {
				display: flex;
				align-items: center;

				svg {
					margin-right: 10px;
				}

				span {
					transition: $transition;
					border-bottom: 1px solid #fff;
				}

				&:hover span {
					border-bottom: 1px solid transparent;
				}
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			color: #000;
		}
	}

	> .btn {
		margin-bottom: 25px;
	}
}
