#places-map-cont {
	display: none;
	background: #ccc;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;

	&.visible {
		display: block;
	}

	.btn-close {
		position: absolute;
		top: 110px;
		right: 45px;
		z-index: 1;
	}

	@media (max-width: $tablet) {
		.btn-close {
			display: none;
		}
	}

	#places-map {
		width: 100%;
		height: 100%;
	}
}
