.new-list
    each val in [1, 2, 3, 4, 5, 6]
        .item
            a(href="#")
                img.responsive(src="uploads/news-4.jpg", alt="")
            h3
                a(href="#") Прямая трансляция Game of Thrones 8 сезон 2 серия
            small 16 февр. 2019 г.
        .item
            a(href="#")
                img.responsive(src="uploads/news-5.jpg", alt="")
            h3
                a(href="#") Новые вкусы в классической линейке Spectrum.
            small 16 февр. 2019 г.
        .item
            a(href="#")
                img.responsive(src="uploads/news-6.jpg", alt="")
            h3
                a(href="#") Премьера Game of Thrones
            small 16 февр. 2019 г.
include ../core/pagination
