.pagination
    a.prev(href="#")
        <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.213L.646 4.86l-.353.353.353.354L1 5.213zM4.86.646L.646 4.86l.708.707 4.213-4.214L4.86.646zM.646 5.566L4.86 9.78l.707-.707L1.354 4.86l-.708.707z" fill="#000"/></svg>
        span Назад
    a(href="#") 1
    a(href="#", class="active") 2
    a(href="#") 3
    a(href="#") 4
    a.next(href="#")
        span Вперед
        <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.213 5.213l.354-.353.353.353-.353.354-.354-.354zM1.353.646L5.568 4.86l-.707.707L.646 1.353l.708-.707zm4.214 4.92L1.354 9.78l-.708-.707L4.86 4.86l.707.707z" fill="#000"/></svg>
