#places-map-cont
    button.btn.btn-white.btn-close
        <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.287.299l-15 15.25 1.426 1.402 15-15.25L30.287.3zm-15 15.25L.78 30.299 2.205 31.7l14.508-14.75-1.426-1.402zm15.934 14.75l-14.508-14.75-1.426 1.402 14.508 14.75 1.426-1.402zm-14.508-14.75l-15-15.25L.287 1.7l15 15.25 1.426-1.402z" fill="#5B114E"/></svg>
    #places-map
