.reviews
    h2 Последние отзывы о кальянных Санкт-Петербурга (Спб) 20 из 1060
    .item
        .author
            img.responsive(src="img/no-avatar.png", alt="")
            h4 Роман
            p Критик 1-го уровня
        .main
            .top
                h4 Feromon Zhukovskogo 22 - Feromon one love
                span.rating 5.0
            p О месте слышал от знакомых уверяли, что не пожалею, если зайду на Жуковского в общем так и вышло. Отличный персонал, внимательный и радушный, будто приходишь в гости к друзьям. Кухня и бар очень порадовали- широкий ассортимент и блюда/напитки на любой вкус и цвет Но главное, ради чего приходил - кальян. Кальянщик все очень толково объяснил и сделал мне кальян именно таким, какой мне и хотелось.
            .bottom
                small.date 16 февр. 2019 г.
                include votes.pug
    .item
        .author
            img.responsive(src="uploads/avatar-1.png", alt="")
            h4 Марина
            p Критик 1-го уровня
        .main
            .top
                h4 Полтавская 7 - Не советую заходить в это заведение!
                span.rating 5.0
            p О месте слышал от знакомых уверяли, что не пожалею, если зайду на Жуковского в общем так и вышло. Отличный персонал, внимательный и радушный, будто приходишь в гости к друзьям. Кухня и бар очень порадовали- широкий ассортимент и блюда/напитки на любой вкус и цвет Но главное, ради чего приходил - кальян. Кальянщик все очень толково объяснил и сделал мне кальян именно таким, какой мне и хотелось.
            .bottom
                small.date 16 февр. 2019 г.
                include votes.pug
    .item
        .author
            img.responsive(src="uploads/avatar-2.png", alt="")
            h4 Татьяна
            p Критик 2-го уровня
        .main
            .top
                h4 Эхо - Единственное из всех. Просто лучшее
                span.rating 4.0
            p О месте слышал от знакомых уверяли, что не пожалею, если зайду на Жуковского в общем так и вышло. Отличный персонал, внимательный и радушный, будто приходишь в гости к друзьям. Кухня и бар очень порадовали- широкий ассортимент и блюда/напитки на любой вкус и цвет Но главное, ради чего приходил - кальян. Кальянщик все очень толково объяснил и сделал мне кальян именно таким, какой мне и хотелось.
            .bottom
                small.date 16 февр. 2019 г.
                include votes.pug
    .item
        .author
            img.responsive(src="img/no-avatar.png", alt="")
            h4 Роман
            p Критик 1-го уровня
        .main
            .top
                h4 Feromon Zhukovskogo 22 - Feromon one love
                span.rating 3.0
            p О месте слышал от знакомых уверяли, что не пожалею, если зайду на Жуковского в общем так и вышло. Отличный персонал, внимательный и радушный, будто приходишь в гости к друзьям. Кухня и бар очень порадовали- широкий ассортимент и блюда/напитки на любой вкус и цвет Но главное, ради чего приходил - кальян. Кальянщик все очень толково объяснил и сделал мне кальян именно таким, какой мне и хотелось.
            .bottom
                small.date 16 февр. 2019 г.
                include votes.pug
    button.btn.btn-warning.btn-block.btn-upper Показать все отзывы
